.content {
  margin-top: 30px;
}

.item-center {
  display: block;
  margin: auto;
}

.nav-wrapper #logo {
  max-width: 6.5em;
  margin-top: 5px;
}

.nav-wrapper .topnav a {
  color: #fcd616;
  font-weight: 600;
}

.favorite {
  border-width: 0 !important;
  margin-top: 1em;
}

.arrow-back {
  margin-top: 1em;
}

.tabs .tab a{
  color:#000;
} /*Black color to the text*/

.tabs .tab a:hover {
  background-color:#eee;
  color:#000;
} /*Text color on hover*/

.tabs .tab a.active {
  background-color:#fcd616;
  color:#000;
} /*Background and text color when a tab is active*/

.tabs .indicator {
  background-color:#000;
} /*Color of underline*/

.center-horizon-vertical {
  margin: 30vh 0 0 45%;
}